.detail {
  border: solid 1px $border-color;
  border-radius: 2px;
  background-color: #fafafa;

  .detail-header {
    position: relative;
    background-color: #ebebeb;
    height: 30px;
  }

  .detail-body {
    padding: 8px 8px 12px;
    font-size: 1.1rem;

    .detail-title {
      font-size: 1.6rem;
      color: #666;
      font-weight: bold;
    }

    .detail-body-quote {
      color: #999;
    }
  }

  .detail-icon {
    color: #999;
    font-size: 1.1rem
  }

  .detail-list {

    dt {
      float: left;
      clear: both;
      width: 56px;
      color: #999;
    }

    dd {
      margin-bottom: 4px;
    }
  }
}
