.footer {

  .footer-item {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-bottom: solid 1px #fff;

    &.footer-item-pagetop {
      position: relative;
      padding: 16px 0;
      font-size: 1.1rem;
      color: #666;
      background-color: #f8f7f5;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -9px;
        right: 50%;
        transform: translateX(18px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 18px 15px 18px;
        border-color: transparent transparent #f8f7f5 transparent;
      }
    }

    &.footer-item-nav {
      padding: 19px 0;
      font-size: 1.2rem;
      color: #666;
      background-color: #e5e5e5;
    }

    &.footer-item-copyright {
      padding: 18px 0;
      font-size: 1.1rem;
      color: #999;
      background-color: #ebebeb;
      border: none;
    }
  }
}
