.mainVisual {
  padding: 16px 12px 4px;

  .mainVisual-title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-shadow: 0 0 3px #666;
  }

  .mainVisual-date {
    color: #ccc;
    font-size: 10px;
    font-size: 1rem;
  }

  .mainVisual-btn {
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
  }
}
