.media {
  width: 100%;
  margin-right: 16px;
  line-height: 1.2;

  .media-thumbnail-container {
    line-height: 0;
  }

  .media-title {
    font-size: 1.4rem;
  }

  .media-time {
    font-size: 1.2rem;
    color: #989898;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}
