.pagenation {
  display: flex;
  box-sizing: border-box;

  .pagenation-item {
    border: solid 1px #e5e5e5;
    height: 48px;
    width: 20%;

    .pagenation-item-text {
      display: block;
      text-align: center;
      line-height: 48px;
      color: #333;
      font-size: 14px;
      font-size: 1.4rem;
      text-decoration: none;
    }
  }

  .pagenation-item-select {
    @extend .pagenation-item;
    border: solid 1px $main-color;
    background-color: $main-color;

    .pagenation-item-text {
      color: #fff;
    }
  }

  .pagenation-item-ellipsis {
    @extend .pagenation-item;
    border: none;
  }
}
