.ranking {
  position: relative;
  display: flex;
  border-bottom: solid 1px #f8f7f5;
  text-decoration: none;
  color: $main-text !important;

 .ranking-thumbnail {
   width: 96px;
   height: 96px;
  }


  .ranking-body {
    padding: 8px 8px 0 12px;
    width: 100%;

    .ranking-title {
      font-size: 1.4rem;
      font-size: 14px;
      font-weight: bold;
      line-height: 21px;
    }
  }

  .ranking-icon {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 34px 0 0;
    border-color: transparent $main-color transparent transparent;

    .ranking-icon-text {
      position: absolute;
      bottom: 0;
      left: -5px;
      width: 34px;
      color: #fff;
      font-size: 13px;
      font-size: 1.3rem;
      text-align: right;
    }
  }

  .ranking-first {
    border-right-color: #c69b45;
  }

  .ranking-second {
    border-right-color: #a0a3a6;
  }

  .ranking-third {
    border-right-color: #b27f60;
  }
}
