.sns {

  li > * {
    display: block;
    text-align: center;
    line-height: 0;
    padding: 10px 0;
    border-radius: 3px;
    text-decoration: none;

    &.sns-pocket {
      background-color: #ff4157;
      box-shadow: 0 2px #cb3649;
    }

    &.sns-twitter {
      background-color: #55acee;
      box-shadow: 0 2px #4892cb;
    }

    &.sns-facebook {
      background-color: #3b5998;
      box-shadow: 0 2px #304776;
    }

    &.sns-hatenabookmark {
      background-color: #00a5de;
      box-shadow: 0 2px #008cbd;
    }

    &.sns-line {
      background-color: #00c300;
      box-shadow: 0 2px #0d9a0d;
    }

    .sns-text {
      margin-top: 6px;
      line-height: .9;
      font-size: .9rem;
      color: #fff;
    }
  }
}

.sns-extra-text {
  text-align: center;
  font-size: 1.4rem;
  color: #666;

  &.sns-extra-text-share {
    position: relative;

    &::after {
      position: absolute;
      top: -8px;
      right: 33px;
      display: block;
      opacity: .5;
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      content: '\f004';
      font-size: 26px;
      color: #ffc2a8;
      transform: rotate(12deg);
    }
  }
}
