.text-strong {
  font-weight: 500;
}

.text-more {
  overflow: hidden;
  text-overflow: ellipsis;
}
//
// .text-icon-accordion {
//   position: relative;
//
//
//   &.text-icon-accordion-footer {
//
//       &::after {
//       top: 16px;
//     }
//   }
// }
