.thumbnail-shadow {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
}

.thumbnail-flame {
  border: 1px solid #e3e3e3;
  padding: 1px;
}

.thumbnail-subText {
  color: #999;
  line-height: 0;
  font-size: 1.2rem;
}
