.writer {
  background-color:  #fafafa;
  padding: 8px 12px;

  .writer-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .writer-name {
    color: #666;
    font-size: 1.1rem;
  }
}
