/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  line-height: 0; }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url("../../font/NotoSansCJKjp-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("../../font/NotoSansCJKjp-Light.woff") format("woff"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../../font/NotoSansCJKjp-Medium.woff") format("woff"); }

html {
  font-size: 62.5%; }

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 1.7rem;
  font-weight: 200;
  color: #333; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

i {
  color: #d0d0d0;
  font-size: 2rem; }

.l-header-logo {
  float: left;
  padding: 3px 10px; }

.l-header-btn-container {
  float: right;
  padding: 6px 5px 0 0;
  float: right; }

.l-label-container > * {
  margin-right: 4px; }

.l-left {
  float: left; }

.l-right {
  float: right; }

.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.l-align-center {
  text-align: center !important; }

.l-align-left {
  text-align: left !important; }

.l-align-right {
  text-align: right !important; }

.l-vertical-center {
  vertical-align: middle; }

.l-full {
  width: 100% !important; }

.l-half {
  display: flex; }
  .l-half > * {
    width: 50%; }

.l-flex {
  display: flex; }

.l-bottom-xlarge {
  margin-bottom: 60px !important; }

.l-bottom-large {
  margin-bottom: 50px !important; }

.l-bottom-midium {
  margin-bottom: 40px !important; }

.l-bottom-small {
  margin-bottom: 30px !important; }

.l-bottom-xsmall {
  margin-bottom: 20px !important; }

.l-bottom-xxsmall {
  margin-bottom: 10px !important; }

.anchor-arrow {
  color: #2dacdb;
  font-size: 1.5rem; }
  .anchor-arrow::after {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: '\f105';
    margin-left: 2px;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #fe8d42; }

.anchor-outside {
  color: #293c6f;
  font-size: 1.2rem; }
  .anchor-outside::after {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: '\f35d';
    margin-left: 7px;
    font-size: 1.4rem;
    color: #293c6f; }

.book {
  padding: 0 10px;
  line-height: 1.2;
  font-size: 1.4rem; }
  .book .book-thumbnail {
    width: 31.5%;
    height: 100%;
    margin-right: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); }
  .book .book-title {
    font-size: 2rem;
    font-weight: 500; }

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  color: #fff;
  border-bottom: solid 2px transparent;
  border-radius: 4px; }
  .btn.btn-login {
    width: 90px;
    height: 40px;
    padding: 0 6px;
    line-height: 38px;
    font-size: 1.3rem;
    background-color: #1ea0c5;
    border-color: #137692; }
    .btn.btn-login::before {
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      content: '\f2f6';
      margin-right: 4px;
      vertical-align: middle;
      font-size: 16px;
      color: #fff; }
  .btn.btn-entry {
    width: 90px;
    height: 40px;
    padding: 0 6px;
    line-height: 38px;
    font-size: 1.3rem;
    background-color: #ef534b;
    border-color: #a0403b; }
    .btn.btn-entry::before {
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      content: '\f007';
      margin-right: 4px;
      vertical-align: middle;
      font-size: 16px;
      color: #fff; }
  .btn.btn-arrow {
    position: relative;
    background-color: #293c6f;
    border-color: #0d1733;
    padding: 17px 31px;
    font-size: 1.4rem; }
    .btn.btn-arrow::after {
      position: absolute;
      right: 10px;
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      content: '\f105';
      margin-left: 2px;
      vertical-align: middle;
      font-size: 1.5rem;
      color: #fff; }

.btnRound {
  display: inline-block;
  text-align: center;
  color: #293c6f;
  border: 1px solid transparent;
  border-radius: 52px; }
  .btnRound.btnRound-anchor {
    background-color: #f3f6fa;
    border-color: #d9e2ed;
    padding: 7px 10px; }
  .btnRound.btnRound-accordion {
    font-size: 1.4rem;
    border-color: #d9e2ed;
    background-color: #e7edf5;
    padding: 12px 30px; }

.header {
  width: 100%;
  background: #fff; }
  .header .header-logo {
    width: 100px;
    height: 44px; }

.headline {
  background-color: #4a85c7;
  border-left: 10px solid #295d97;
  padding: 16px;
  font-size: 20px;
  color: #fff;
  font-weight: 500; }

.subhead {
  color: #000;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 36px; }
  .subhead.subhead-article {
    background: linear-gradient(transparent 76%, #feeec2 0%); }
  .subhead.subhead-aside {
    background: linear-gradient(transparent 76%, #baece0 0%); }

.crosshead {
  color: #34a0ad;
  font-size: 1.8rem;
  font-weight: 500; }

.label {
  display: inline-block;
  width: 40px;
  padding: 5px 4px;
  font-size: 1rem;
  border: solid 1px transparent; }
  .label.label-language {
    border-color: #3c6ea6;
    color: #3c6ea6;
    background-color: #fff; }
  .label.label-unread {
    border-color: #bfbebe;
    color: #fff;
    background-color: #bfbebe; }

.nav {
  border-top: solid 1px #1d4d88;
  border-bottom: solid 1px #1d4d88;
  background-color: #3069b0; }
  .nav .nav-item {
    display: block;
    padding: 9px 0;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    border-right: solid 1px #1d4d88; }
    .nav .nav-item:last-child() {
      border-right: none; }
    .nav .nav-item .nav-item-icon {
      margin-right: 6px;
      color: #8ab1e3;
      font-size: 24px;
      vertical-align: middle; }

.section {
  padding: 0 10px; }
  .section .section-text > * {
    line-height: 1.8;
    margin-bottom: 1.8em;
    text-indent: 1em; }
