/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  line-height: 0; }

html {
  font-size: 62.5%; }

* {
  box-sizing: border-box; }

.contents {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666;
  margin: 48px auto 0;
  max-width: 700px; }

a {
  text-decoration: none; }

i {
  color: #d0d0d0;
  font-size: 2rem; }

.l-header-logo {
  float: left;
  padding: 3px 10px; }

.l-header-btn-container {
  float: right;
  padding: 6px 5px 0 0;
  float: right; }

.l-label-container > * {
  margin-right: 4px; }

.l-left {
  float: left; }

.l-right {
  float: right; }

.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.l-align-center {
  text-align: center !important; }

.l-align-left {
  text-align: left !important; }

.l-align-right {
  text-align: right !important; }

.l-vertical-center {
  vertical-align: middle; }

.l-full {
  width: 100% !important; }

.l-half {
  display: flex; }
  .l-half > * {
    width: 50%; }

.l-bottom-xlarge {
  margin-bottom: 32px !important; }

.l-bottom-large {
  margin-bottom: 24px !important; }

.l-bottom-midium {
  margin-bottom: 20px !important; }

.l-bottom-small {
  margin-bottom: 16px !important; }

.l-bottom-xsmall {
  margin-bottom: 8px !important; }

.l-bottom-xxsmall {
  margin-bottom: 4px !important; }

.btn {
  display: inline-block;
  width: 90px;
  height: 40px;
  padding: 0 6px;
  line-height: 38px;
  font-size: 1.3rem;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 4px;
  border: 1px solid transparent; }
  .btn.btn-login {
    color: #fff;
    background-color: #1ea0c5;
    border-bottom: solid 2px #137692; }
    .btn.btn-login::before {
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      content: '\f2f6';
      margin-right: 4px;
      vertical-align: middle;
      font-size: 16px;
      color: #fff; }
  .btn.btn-entry {
    color: #fff;
    background-color: #ef534b;
    border-bottom: solid 2px #a0403b; }
    .btn.btn-entry::before {
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      content: '\f007';
      margin-right: 4px;
      vertical-align: middle;
      font-size: 16px;
      color: #fff; }

.header {
  width: 100%;
  background: #fff; }
  .header .header-logo {
    width: 100px;
    height: 44px; }
  .header .header-nav {
    border-top: solid 1px #1d4d88;
    border-bottom: solid 1px #1d4d88;
    background-color: #3069b0; }
    .header .header-nav .header-nav-item {
      display: block;
      padding: 9px 0;
      text-align: center;
      font-size: 1.4rem;
      color: #fff;
      font-weight: bold;
      border-right: solid 1px #1d4d88; }
      .header .header-nav .header-nav-item:last-child() {
        border-right: none; }
      .header .header-nav .header-nav-item .header-nav-item-icon {
        margin-right: 6px;
        color: #8ab1e3;
        font-size: 24px;
        vertical-align: middle; }

.headline {
  background-color: #4a85c7;
  border-left: 10px solid #295d97;
  padding: 16px;
  font-size: 20px;
  color: #fff;
  font-weight: bold; }

.label {
  display: inline-block;
  width: 40px;
  padding: 5px 4px;
  font-size: 1rem;
  border: solid 1px transparent; }
  .label.label-language {
    border-color: #3c6ea6;
    color: #3c6ea6;
    background-color: #fff; }
  .label.label-unread {
    border-color: #bfbebe;
    color: #fff;
    background-color: #bfbebe; }

.nav {
  border-top: solid 1px #1d4d88;
  border-bottom: solid 1px #1d4d88;
  background-color: #3069b0; }
  .nav .nav-item {
    display: block;
    padding: 9px 0;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    border-right: solid 1px #1d4d88; }
    .nav .nav-item:last-child() {
      border-right: none; }
    .nav .nav-item .nav-item-icon {
      margin-right: 6px;
      color: #8ab1e3;
      font-size: 24px;
      vertical-align: middle; }
