.l-mainVisual {
  position: relative;
  padding: 16px 12px;
  max-width: 100%;
  height: 37.5vw;
  max-height: 300px;
  background-image: url(../../../img/l-mainVisual2.jpg);
  background-size: cover;
  background-position: center;
　background-repeat: no-repeat;
  object-fit: cover;

  .l-mainVisual-inner {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg,transparent 0,rgba(41, 20, 5, .7));
  }

  .l-mainVisual-btn {
    position: absolute;
    right: 16px;
    bottom: -32px;
  }
}
