.l-sns {
  display: flex;

  &.l-sns-fiveDivision {
    li {
      width: 20%;
      margin-right: 2px;
    }
  }

  &.l-sns-fourDivision {
    li {
      width: 25%;
      margin-right: 6px;
    }
  }

  &.l-sns-threeDivision {
    li {
      width: 33.3%;
      margin-right: 6px;
    }
  }

  li:last-child {
    margin-right: 0;
  }
}
