.l-tweet {
  margin-bottom: 24px;

  .l-tweet-avatar {
    line-height: 0;
    margin-right: 10px;
  }

  .l-tweet-body {
    margin-bottom: 7.35px;
    line-height: 19px;
  }

  .l-tweet-icon {
    vertical-align: text-bottom;
  }

  .l-tweet-other {
    padding: 0 5px 0 15px;
  }
}
