.l-left {
  float: left;
}

.l-right {
  float: right;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.l-align-center {
  text-align: center !important;
}

.l-align-left {
  text-align: left !important;
}

.l-align-right {
  text-align: right !important;
}

.l-vertical-center {
  vertical-align: middle;
}

.l-full {
  width: 100% !important;
}

.l-half {
  display: flex;

  & > * {
    width: 50%;
  }
}

.l-bottom-xlarge {
  margin-bottom: 32px !important;
}

.l-bottom-large {
  margin-bottom: 24px !important;
}

.l-bottom-midium {
  margin-bottom: 20px !important;
}

.l-bottom-small {
  margin-bottom: 16px !important;
}

.l-bottom-xsmall {
  margin-bottom: 8px !important;
}

.l-bottom-xxsmall {
  margin-bottom: 4px !important;
}
