$main-color: #ff6726;

$main-text: #333;
$sub-text: #666;
$other-text: #999;

$border-color: #e5e5e5;
$back-color: #ebebeb;

html {
  //10pxに設定
  font-size: 62.5%;
}

.contents {
  font-size: 1.4rem;
  line-height: 1.5;
  color: $main-text;
  margin: 48px auto 0;
  max-width: 700px;
}

a {
  font-size: 13px;
  text-decoration: none;

  &:link {
  color: #333;
  }

  &:visited {
  color: #666;
 }
}

i {
  color: #d0d0d0;
  font-size: 2rem;
}
