//[wip]まだ仮状態です。

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.contents {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666;
  margin: 48px auto 0;
  max-width: 700px;
}

a {
  text-decoration: none;

  &:link {
  }

  &:visited {
 }
}

i {
  color: #d0d0d0;
  font-size: 2rem;
}
